.hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero-imagen {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.65);
}

.hero-contenido {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
}

.hero-contenido h2{
    font-size: 4rem;
    color: var(--color-fuente-secundaria);
}

.flecha {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    background: var(--color-fondo-hover);
    color: white;
    line-height: 1;
    transform: translateY(-50%);
}

.flecha.izquierda {
    left: 20px;
}

.flecha.derecha {
    right: 20px;
}

.flecha:hover {
    background: var(--color-fuente-principal)
}