header{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#contenedor-logo{
    display: flex;
    align-items: center;
}

#logo-img{
    object-fit: cover;
    width: 20%;
}

#logo-titulo{
    font-size: 2rem;
    font-weight: bold;
}

#navbar{
    display: flex;
    justify-content: space-between;
}
