#contenedor-btns{
    display: flex;
    margin: 20px 80px;
    gap: 30px;
}

#contenedor-filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#select-distritos, #rango-precio input{
    padding: 10px 15px;
    border: 1px solid var(--color-fuente-principal);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    color: var(--color-fuente-principal);
    background-color: var(--color-fondo);
}

#select-distritos{
    width: 250px;
}

#rango-precio{
    display: flex;
    align-items: center;
    gap: 8px;
}

#rango-precio span{
    color: var(--color-fuente-principal);
}