/* ---------- HEADER ---------- */

header{
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#contenedor-logo{
  display: flex;
  align-items: center;
}

#logo-img{
  object-fit: cover;
  width: 20%;
}

#logo-titulo{
  font-size: 2rem;
  font-weight: bold;
}

#navbar{
  display: flex;
  justify-content: space-between;
}

li{
  margin: 0 10px;
}

li a {
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
}


li a:hover,
li a.active {
  background-color: var(--color-fondo-hover);
  font-weight: bold;
}
/* ---------- HERO ---------- */

.hero {
  position: relative;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero-imagen {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.65);
}

.hero-contenido {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
}

.hero-contenido h2 {
  font-size: 4rem;
  color: var(--color-fuente-secundaria);
}

.flecha {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  line-height: 1;
  transform: translateY(-50%);
}

.flecha.izquierda {
  left: 20px;
}

.flecha.derecha {
  right: 20px;
}

.flecha:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* ---------- SECTION: FILTRO ---------- */
#contenedor-btns{
  display: flex;
  margin: 20px 80px;
  gap: 30px;
}

#contenedor-filtros{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#select-distritos, #rango-precio input{
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 8px;
}

#select-distritos{
  width: 250px;
}

#rango-precio{
  display: flex;
  align-items: center;
  gap: 8px;
}