/* ---------- HEADER ---------- */

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

#contenedor-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-img{
  object-fit: cover;
  width: 20%;
}

#logo-titulo{
  font-size: 2rem;
  font-weight: bold;
}

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}