:root{
  --color-fondo: #ffffff;
  --color-fondo-hover: #e0e0e0;
  --color-fuente-principal: #000000;
  --color-fuente-secundaria: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--color-fuente-principal);
  background-color: var(--color-fondo);
}

/* ---------- ELEMENTOS COMUNES ---------- */
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

