:root{
  --color-fondo: #ffffff;
  --color-fondo-hover: #e0e0e0;
  --color-fuente-principal: #0a2947;
  --color-fuente-secundaria: #ffffff;
  --color-fondo-boton: #ecf1f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--color-fuente-principal);
  background-color: var(--color-fondo);
}

/* ---------- ELEMENTOS COMUNES ---------- */

h2{
  margin-bottom: 40px;
}

li{
  list-style: none;
  margin: 0 10px;
}

a{
  text-decoration: none;
  color: inherit;
}

li a {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

li a:hover,
li a.active {
    background-color: var(--color-fondo-hover);
    font-weight: bold;
}
